<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzeic.memosystem.mapper.MemoMapper">

    <resultMap id="BaseResultMap" type="com.gzeic.memosystem.entity.Memo">
            <id property="id" column="id" />
            <result property="tenantId" column="tenant_id" />
            <result property="title" column="title" />
            <result property="content" column="content" />
            <result property="userId" column="user_id" />
            <result property="isCompleted" column="is_completed" />
            <result property="isNotified" column="is_notified" />
            <result property="priority" column="priority" />
            <result property="dueDate" column="due_date" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,tenant_id,title,content,user_id,is_completed,is_notified,priority,
        due_date,create_time,update_time
    </sql>
</mapper>
